    </main>
    <div class="footer">
        <a href="https://www.instagram.com/iamarjun.m" target="_blank" class="insta"><img src="images/insta.png" alt="Insta Logo" class="insta"></a>
        <a href="https://twitter.com/itsarjun23" target="_blank" class="twitter"><img src="images/twitter.png" alt="Twitter Logo"></a>
        <a href="www.linkedin.com\in\arjun-malhotra-a90325217" target="_blank"><img src="images/Linkedin.png" alt="Linkedin Logo"></a>
        <footer>
            <p>Copyright @ <%= new Date().getFullYear() %></p>
        </footer>
    </div>
        
</body>