<%- include("partials/header.ejs") %>



<div id="about-myself">
    <h2>About Me</h2>
    <p id="about-me">
        Hi, my name is Arjun Malhotra. I am an aspiring fullstack web developer, a college student
        and author of a science fiction novel called '3032: Onto the Entangled Paths'. I have also been awarded India's Youngest Poet prize
        by Indian Film House for the year 2022. I post my writing works on my Instagram handle frequently which is called: @findinglight.inside .
    </p>
</div>

<%- include("partials/footer.ejs") %>