<%- include("partials/header.ejs") %>

<div id="Contact">
    <h2>Contact Me</h2>
    <p>Please refer to the follwing details if you wish to contact me. Thanks!</p>
    <p><span>Email:</span> arjunhero38@gmail.com</p>
    <p><span>Phone no.:</span> +91 9873037770</p>
</div>

<%- include("partials/footer.ejs") %>